Makefile
Makefile.in
autom4te.cache
aclocal.m4
config.guess
config.in
config.log
config.nice
config.status
config.sub
configure
depcomp
include/mod_depends_config.h
include/stamp-h1
install-sh
libtool
ltmain.sh
missing
.deps
.libs
*.la
*.lo
*.o